@define-color cc-bg #16161d;
@define-color noti-border-color #dcd7ba;
@define-color noti-bg #11111b;
@define-color noti-bg-darker #2b2b39;
@define-color noti-bg-hover #1b1b2b;
@define-color noti-bg-focus #1b1b1b;
@define-color noti-close-bg #dcd7ba;
@define-color noti-close-bg-hover #dcd7ba;
@define-color text-color #dcd7ba;
@define-color text-color-disabled #828282;
@define-color bg-selected #7e9cd8;
@define-color border-green #76946a;
@define-color red-base #c34043;
@define-color red-hover #e46876;
@define-color green-base #98bb6c;
@define-color blue-base #7e9cd8;

* {
    font-family: "JetBrainsMono NFM SemiBold", monospace;
    border-radius: 0;
}

.floating-notifications {
    max-height: none !important;
    height: auto !important;
}

.floating-notifications .notification-row {
    max-height: none !important;
    height: auto !important;
}

.floating-notifications.background .notification-row .notification-background {
    background: @noti-bg;
    border: 2px solid @border-green;
    border-radius: 0;
    margin: 16px;
    padding: 0;
    transition: background 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    max-height: none !important;
    height: auto !important;
    min-height: 0 !important;
}

.floating-notifications.background .notification-row .notification-background,
.floating-notifications.background
    .notification-row
    .notification-background:hover,
.floating-notifications.background
    .notification-row
    .notification-background:focus {
    margin: 16px;
    padding: 0;
    max-height: none !important;
    height: auto !important;
    min-height: 0 !important;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification {
    border-radius: 0;
    background: @cc-bg;
    margin: 3px -2px 3px 0;
    padding: 0;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification,
.floating-notifications.background
    .notification-row
    .notification-background
    .notification:hover,
.floating-notifications.background
    .notification-row
    .notification-background
    .notification:focus {
    margin: 3px -2px 3px 0;
    padding: 0;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification.critical {
    border: 2px solid @red-base;
    border-radius: 0;
    background: @noti-bg;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification.critical
    .summary {
    color: @red-hover;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    .notification-content {
    margin: 12px;
    padding: 0;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    .notification-content,
.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    .notification-content:hover {
    margin: 12px;
    padding: 0;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > * {
    min-height: 10px;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action {
    border-radius: 0;
    background-color: @noti-bg-darker;
    margin: 6px;
    border: 2px solid @border-green;
    transition:
        background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1),
        border-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    color: @text-color;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:hover {
    background-color: @blue-base;
    border: 2px solid @blue-base;
    color: @cc-bg;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .notification
    > *:last-child
    > *
    .notification-action:active {
    background-color: @green-base;
    color: @cc-bg;
}

.image {
    margin: 0px 12px 0px 0px;
    border-radius: 0;
}

.summary {
    font-family: "JetBrainsMono NFM SemiBold", monospace;
    font-weight: bold;
    font-size: 18px;
    color: @green-base;
    padding-bottom: 3px;
    margin: 0;
    line-height: 1.2;
}

.summary,
.summary:hover {
    padding-bottom: 3px;
    margin: 0;
}

.body {
    font-size: 14px;
    font-family: "JetBrainsMono NFM SemiBold", monospace;
    font-weight: normal;
    color: @text-color;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

.body,
.body:hover {
    margin: 0;
    padding: 0;
}

.time {
    font-size: 16px;
    font-weight: 700;
    background: transparent;
    color: @text-color;
    text-shadow: none;
    margin-right: 18px;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .close-button {
    margin: 8px;
    padding: 4px;
    border-radius: 0;
    background-color: @red-base;
    border: none;
    color: @cc-bg;
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 24px;
    min-height: 24px;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .close-button:hover {
    background-color: @red-hover;
    color: @cc-bg;
}

.floating-notifications.background
    .notification-row
    .notification-background
    .close-button:active {
    background-color: @red-base;
    color: @text-color;
}

.notification.critical progress {
    background-color: @red-hover;
}

.notification.low progress,
.notification.normal progress {
    background-color: @green-base;
}

.control-center .notification-row:focus,
.control-center .notification-row:hover {
    opacity: 1;
    background: @noti-bg-darker;
}

.notification-row {
    outline: none;
    margin: 0;
    padding: 0;
    max-height: none !important;
    height: auto !important;
}

.notification-row,
.notification-row:hover,
.notification-row:focus {
    margin: 0;
    padding: 0;
    max-height: none !important;
    height: auto !important;
}

.notification,
.notification-content,
.notification-action,
.notification-default-action,
.inline-reply-entry,
.inline-reply-button,
.widget-title,
.widget-title > button,
.widget-dnd,
.widget-dnd > switch,
.widget-dnd > switch slider,
.widget-label > label,
.widget-buttons-grid,
.widget-buttons-grid > flowbox > flowboxchild > button,
.widget-volume,
.widget-backlight,
.widget-mpris,
.widget-mpris > box > button,
.widget-mpris-player,
.widget-mpris-album-art {
    border-radius: 0;
}

.notification-content,
.notification-content:hover,
.notification-content:focus {
    padding: 0;
    margin: 0;
}

.notification {
    background: @cc-bg;
    border: 2px solid @border-green;
    margin: 3px -2px 3px 0;
    padding: 0;
    max-height: none;
    height: auto;
}

.notification,
.notification:hover,
.notification:focus {
    margin: 3px -2px 3px 0;
    padding: 0;
    max-height: none;
    height: auto;
}

.notification-action {
    border: 2px solid @border-green;
    border-top: none;
}

.notification-default-action:hover,
.notification-action:hover {
    color: @blue-base;
    background: @cc-bg;
}

.inline-reply-entry {
    background: @noti-bg-darker;
    color: @text-color;
    caret-color: @text-color;
    border: 1px solid @noti-border-color;
}

.inline-reply-button {
    margin-top: 4px;
    margin-left: 4px;
    background: @noti-bg;
    border: 1px solid @noti-border-color;
    color: @text-color;
}

.inline-reply-button:disabled {
    background: transparent;
    color: @text-color-disabled;
    border: 1px solid transparent;
}

.inline-reply-button:hover {
    background: @noti-bg-hover;
}

.control-center {
    background: @cc-bg;
    border: 2px solid @border-green;
    max-height: 90vh;
    height: auto;
}

.widget-title {
    color: @blue-base;
    background: @noti-bg-darker;
    padding: 5px 10px;
    margin: 10px;
    font-size: 1.5rem;
}

.widget-title > button {
    font-size: 1rem;
    color: @text-color;
    background: @noti-bg;
    box-shadow: none;
}

.widget-title > button:hover {
    background: @red-base;
    color: @cc-bg;
}

.widget-dnd {
    background: @noti-bg-darker;
    padding: 5px 10px;
    margin: 5px 10px;
    font-size: large;
    color: @blue-base;
}

.widget-dnd > switch {
    background: @blue-base;
    border-radius: 0;
}

.widget-dnd > switch:checked {
    background: @red-base;
    border: 1px solid @red-base;
}

.widget-label > label {
    font-size: 1rem;
    color: @text-color;
    margin: 10px;
}

.widget-buttons-grid {
    font-size: x-large;
    padding: 5px;
    margin: 10px;
    background: @noti-bg-darker;
}

.widget-buttons-grid > flowbox > flowboxchild > button {
    margin: 3px;
    background: @cc-bg;
    color: @text-color;
    transition: background-color 0.15s ease-in-out;
}

.widget-buttons-grid > flowbox > flowboxchild > button:hover {
    background: @blue-base;
    color: @cc-bg;
}

.widget-buttons-grid > flowbox > flowboxchild > button:checked {
    background: @green-base;
    color: @cc-bg;
}

.widget-volume,
.widget-backlight {
    background: @noti-bg-darker;
    padding: 5px;
    margin: 5px 10px;
    font-size: 2rem;
    color: @blue-base;
}

.widget-mpris {
    color: @text-color;
    background: @noti-bg-darker;
    padding: 5px 10px;
    margin: 5px 10px 5px 10px;
    box-shadow: none;
}

.widget-mpris > box > button,
.widget-mpris-player,
.widget-mpris-album-art {
    border-radius: 0;
    box-shadow: none;
    padding: 5px 10px;
    margin: 10px 0 0 0;
}
